<div class="p-2">
    <div class="header-home">
      <h1 class="title-home">Gestión de Provincias</h1>
      <div class="spacer"></div>
    </div>
    
    <div class="buscar-y-agregar">
      <button mat-flat-button color="primary" (click)="addProvincia()">
        <mat-icon>add_circle</mat-icon>
        Agregar Provincia
      </button>
    </div>
  
    <table mat-table [dataSource]="dataSource" class="custom-elevation">
      
      <ng-container matColumnDef="idProvincia">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let provincia">{{ provincia.IDPROVINCIA }}</td>
      </ng-container>
  
      <ng-container matColumnDef="descProvincia">
        <th mat-header-cell *matHeaderCellDef>Provincia</th>
        <td mat-cell *matCellDef="let provincia">{{ provincia.DESCPROVINCIA }}</td>
      </ng-container>
  
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let provincia">
          <button mat-icon-button color="primary" (click)="editProvincia(provincia)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="confirmDelete(provincia.IDPROVINCIA)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    </table>
  </div>
  
  