<div class="p-2">
    <span mat-dialog-title class="modal-title">
      {{ data && data.IDDISTRITO ? 'Actualizar' : 'Crear' }} Distrito
    </span>
  
    <mat-dialog-content class="px-0 py-1">
      <form [formGroup]="distritoForm">
        <mat-form-field appearance="fill">
          <mat-label>Nombre del Distrito</mat-label>
          <input matInput formControlName="descDistrito" />
          <mat-error *ngIf="distritoForm.get('nombre')?.hasError('required')">
            El nombre del distrito es requerido.
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Provincia</mat-label>
          <mat-select formControlName="nombreProvincia">
            <mat-option *ngFor="let provincia of provincias" [value]="provincia.IDPROVINCIA">
              {{ provincia.DESCPROVINCIA }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="distritoForm.get('idProvincia')?.hasError('required')">
            Debe seleccionar una provincia.
          </mat-error>
        </mat-form-field>
      </form>
    </mat-dialog-content>
  
    <mat-dialog-actions class="p-0">
      <button mat-button (click)="onCancel()">Cancelar</button>
      <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="distritoForm.invalid">
        Guardar
      </button>
    </mat-dialog-actions>
  </div>
  